<?xml version="1.0"?>
<config>
    <modules>
        <Gracious_Pubsub>
            <version>0.1.0</version>
        </Gracious_Pubsub>
    </modules>
    <global>
        <helpers>
            <pubsub>
                <class>Gracious_Pubsub_Helper</class>
            </pubsub>
        </helpers>
        <events>
            <sales_order_place_after>
                <observers>
                    <gracious_pubsub_observers>
                        <class>Gracious_Pubsub_Observer</class>
                        <method>salesOrderPlaceAfter</method>
                    </gracious_pubsub_observers>
                </observers>
            </sales_order_place_after>
        </events>
    </global>
</config> 